body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  }

  .header {
  display: flex;
  width: 99%;
  position: fixed;
  align-items: center;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
  top: 0;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 10px;
  width: 50%;
}

.navbar {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbar a {
  padding: 12px;
  text-decoration: underline;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

.content {
  display: flex;
  padding-top: 69px;
  width: 100%;
  justify-content: center;
}

.mission {
  display: flex;
  background-image: url('../background.jpg');
  background-size: cover;
  height: 700px;
  width: 1200px;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
}

.mission-text h2 {
  margin: 15px;
}

.mission-text h4 {
  margin: 15px;
}
